.plist {
    padding: 10px 2px;
    overflow: hidden;
    overflow-y: scroll;}
.onOrIn,.Out{
    background: #E7F9F3;
    border-radius: 50%;
    padding: 2px 3px;
}
.Out{
    background: #ECF0FB;
}
.titleMin{
    font-size: 14px;
    color: #FFAE5E;
    margin-bottom: 8px;
}
.cardMains{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .imgSRC{
        width: 150px;
        height: 100px;
        margin-right: 15px;
    }
    .cheCar{
        font-size: 16px; 
        font-weight: bold;
        // line-height: 35px;
        color: #fff;
    }
    .xiaochron{
        font-size: 12px;
        background-color: #D1D1D1;
        border-radius: 2px;
        padding: 2px;
        margin-left: 3px;
    }
    .times{
        font-size: 12px;
        margin-top: 8px;
        color: #999999
    }
}
.imgCar{
    width: 100%;
    display: block;
   }